<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="TestApp">
<head>
    <title></title>

    <script src="Scripts/jquery-1.6.4.js"></script>
    <script src="Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="Scripts/jquery.signalR.eventAggregator-1.4.141.0.js"></script>
    <script src="/eventAggregation/events"></script>

    <script src="Scripts/angular.js"></script>
    <script src="Scripts/jquery.signalR.eventAggregator.angular-1.4.143.0.js"></script>
</head>
<body ng-controller="TestCtrl">

    <h1>{{headerText}}</h1>

    <h3>{{count}}</h3>

    <div>
        <input type="text" ng-model="message" />
        <input type="button" ng-click="sendMessage()" value="Send" />
        {{incommingMessage}}
    </div>

    <script src="Scripts/app.js"></script>
</body>
</html>
